<div class="container">
    <ul>
        <li><a asp-action="SearchableGrid">Searchable Grid</a></li>
        <li><a asp-action="PaginableGrid">Paginable Grid</a></li>
        <li><a asp-action="CompleteGrid">Complete Grid</a></li>
    </ul>
</div>
